[user]
	name = SetiZ
	email = SetiZ@users.noreply.github.com

[core]
    editor = vim
    excludesfile = ~/.gitignore

[color]
    ui = auto

[alias]
    s = status
    c = commit
    ca = commit --amend
    l = log
    b = branch
    co = checkout

[github]
    user = SetiZ

[push]
    default = simple

[url "git@github.com:SetiZ/"]
    pushInsteadOf = https://github.com/SetiZ/
